---
layout: default
---

<div id="post" >
  <div class="container">
    <div class="intro-graf">
      <p> I'm a web developer with experience in Ruby, Rails, and Javascript. You can see some of my projects below.</p>
    </div>

    <div class="projects">
      {% for post in site.posts %}
      {% if post.category == 'project' %}
        <div class="project-container">
          <a href='{{post.site_location}}' class="project">
            <div class="project-info text-center">
              <h3>{{post.title}} </h3>
            </div>
            <div class="project-image">
              <img src='{{post.image}}' alt='{{post.title}}'>
            </div>
            <div class='description row'>
              <div class="col-md-offset-2 col-md-8">
                {{post.content}}
              </div>
            </div>
          </a>
          <a href="{{post.repo}}">View Code</a>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
