---
layout: default
---

  <div id="post" >
    <div class='fadeIn animated'>
        <img class="portrait" src="/images/headshot.jpg" alt="">
    </div>
    <p>
      Welcome to my blog! I'm a web developer with experience in Ruby, Rails, and Javascript development.
      I use this blog to write some of my thoughts on tech from time to time. Please feel free to check out some of my projects as well!
    </p>
    <div class="projects">

   {% for post in site.posts %}
      {% if post.category == 'project' %}

      <div class="project">
        <h3 class='title'>{{post.title}}</h3>
        <a href='{{post.repo}}'>view code</a>
        <a href='{{post.site_location}}'><img src='{{post.image}}' alt='{{post.title}}'></a>
        <div class='description'>
          {{post.content}}
        </div>
      </div>
      {% endif %}
    {% endfor %}
 
    </div>
  </div>
