<header class='bounceInDown animated'>
  <div class="overlay"></div>
  <h1><span class="braces">{</span> Hello World! <span class="braces">}</span></h1>
  <nav>
    <div class="name">SHIRAJ <span class="last_name"><b>GANGULY</b></span></div>
    <ul>
      <li><a href="//www.github.com/shirajG"><i class="fa fa-github fa-fw"></i></a></li>
      <li>
        <a href="//www.linkedin.com/in/shirajG">
          <i class="fa my-fa-linkedin fa-fw"></i>
        </a>
      </li>
      <li><a href="mailto:Shirajganguly@gmail.com"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    </ul>
  </nav>
    <ul class="menus">
      <li><a id='home' href="/">HOME</a></li>
      <li><a id='tech' href="">TECH POSTS</a></li>
      <li><a id='culture' href="">CULTURAL POSTS</a></li>
    </ul>
</header>
<div id="content">
  <ul id="technical" class='hidden'>
    <li><a href="/Sorting/">Sorting</a></li>
    <li><a href="/CSS_Box_Model/">CSS Box Model</a>
    <li><a href="/JavaScript/">JavaScript</a></li>
    <li><a href="/Classes/">Classes</a></li>
    <li><a href="/Inheritance/">Inheritance</a></li>
    <li><a href="/SQL/">SQL</a></li>
    <li><a href="/Site_Update/">Site Upgrade</a></li>
    <li><a href="/Vim/">Vim</a></li>
    <li><a href="/Postgres/">Postgres</a></li>

  </ul>
  <ul id="cultural" class="hidden">
    <li><a href="/Learning/">Learning</a></li>
    <li><a href="/Global_Access/">Global Access</a></li>
    <li><a href="/Pairing/">Pairing</a></li>
    <li><a href="/Conflict/">Conflict</a></li>
    <li><a href="/Questions/">Questions</a></li>
  </ul>       
</div>
