<header class='bounceInDown animated'>
  <div class="overlay"></div>
  <h1><span class="braces">{</span> Hello World! <span class="braces">}</span></h1>
  <nav>
    <div class="name">SHIRAJ <span class="last_name"><b>GANGULY</b></span></div>
    <ul>
      <li><a href="http://www.github.com/shirajG"><span class="fa fa-github-alt fa-fw"></span></a></li>
      <li><a href="mailto:Shirajganguly@gmail.com"><span class="fa fa-envelope-o fa-fw"></span></a></li>
    </ul>
  </nav>
    <ul class="menus">
      <li><a href="">TECH</a></li>
      <li><a href="">CULTURE</a></li>
      <li><a id='about' href="/">ABOUT</a></li>
    </ul>
</header>
<div id="content" class="hidden">
  <ul id="technical">
    <li><a href="/Sorting/">Sorting</a></li>
    <li><a href="/CSS_Box_Model/">CSS Box Model</a>
    <li><a href="/JavaScript/">JavaScript</a></li>
    <li><a href="/Classes/">Classes</a></li>
    <li><a href="/Inheritance/">Inheritance</a></li>
    <li><a href="/SQL/">SQL</a></li>
    <li><a href="/Site_Update/">Site Upgrade</a></li>
    <li><a href="/Vim/">Vim</a></li>
  </ul>
  <ul id="cultural" class="hidden">
    <li><a href="/Learning/">Learning</a></li>
    <li><a href="/Global_Access/">Global Access</a></li>
    <li><a href="/Pairing/">Pairing</a></li>
    <li><a href="/Conflict/">Conflict</a></li>
    <li><a href="/Questions/">Questions</a></li>
  </ul>       
</div>
